.button1 {
  transition-timing-function: ease;
  transition-delay: 0s, 0.5s, 1s;
  transition-property: background-color, box-shadow, top;
  transition: 0.5s, 1s;
}

.button2 {
  transition-timing-function: ease-in;
  transition-delay: 0s, 0.5s, 1s;
  transition-property: background-color, box-shadow, top;
  transition: 0.5s, 1s;
}

.button3 {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-delay: 0s, 0.5s, 1s;
  transition-property: background-color, box-shadow, top;
  transition: 0.5s, 1s;
}

.button4 {
  transition-timing-function: ease-in-out;
  transition-delay: 0s, 0.5s, 1s;
  transition-property: background-color, box-shadow, top;
  transition: 0.5s, 1s;
}

.button5 {
  transition-timing-function: linear;
  transition-delay: 0s, 0.5s, 1s;
  transition-property: background-color, box-shadow, top;
  transition: 0.5s, 1s;
}
